.App {
  height:100%;
}
.todo-list-div {
  float:left;
  width:30%;
  height: 100%;
  background-color: rgb(112, 112, 160);
}
.todo-list {
  overflow:auto;
  height:80%;
}
.todo-page-div {
  float:right;
  width:70%;
  height: 100%;
  background-color: aqua;

}
.todo-list-name {
  height: 10%;
}
.todo-add-form {
  position:fixed;
  bottom:0;
  height:10%;
}
.todo{
  background-color: brown;
  min-height:10%;
  margin:5px;
}




