.todo-div div {
    /* margin: 5px 5px;
    height:40px; */
    height:10%;
    margin: 5px;
    font-size: 16px;
    padding: 5px 5px;
    border-radius: 5px;
    /* box-shadow: 0 4px 4px #ccc; */
    line-height: 40px;
    
}
.todo-name {
    white-space: nowrap; /* Текст не переносится */
    overflow: hidden; /* Обрезаем всё за пределами блока */
    text-overflow: ellipsis;
}
.todo-done {
    background-color:#8ead75;
    text-decoration: line-through;
}
.todo-inProcess {
    background-color:#1d7776;
    color: #fff;
}

.todo-waiting {
    background-color:#919196;
}
.hidden {
    display:none;
}